SmartLaw/SmartLaw/Service References/MongoDBService/MongoDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertEnduser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUser" type="tns:EndUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EndUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AutoID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnduserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimCardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identities" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifyTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertEnduserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertEnduserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEndusers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUsers" type="tns:ArrayOfEndUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEndUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EndUser" nillable="true" type="tns:EndUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertEndusersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertEndusersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllResult" type="tns:ArrayOfEndUser" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountAll">
        <s:complexType />
      </s:element>
      <s:element name="CountAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountAllResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserBySimCardNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iSimCardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserBySimCardNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectEnduserBySimCardNoResult" type="tns:EndUser" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserByAutoID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iAutoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserByAutoIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectEnduserByAutoIDResult" type="tns:EndUser" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iEnduserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectEnduserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectEnduserByNameResult" type="tns:ArrayOfEndUser" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEnduser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iSimCardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEnduserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEnduserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEnduser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUser" type="tns:EndUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEnduserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEnduserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEndusers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUsers" type="tns:ArrayOfEndUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEndusersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEndusersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEnduserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEnduser" />
  </wsdl:message>
  <wsdl:message name="InsertEnduserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEnduserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEndusersSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEndusers" />
  </wsdl:message>
  <wsdl:message name="InsertEndusersSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEndusersResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="CountAllSoapIn">
    <wsdl:part name="parameters" element="tns:CountAll" />
  </wsdl:message>
  <wsdl:message name="CountAllSoapOut">
    <wsdl:part name="parameters" element="tns:CountAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserBySimCardNoSoapIn">
    <wsdl:part name="parameters" element="tns:SelectEnduserBySimCardNo" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserBySimCardNoSoapOut">
    <wsdl:part name="parameters" element="tns:SelectEnduserBySimCardNoResponse" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserByAutoIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectEnduserByAutoID" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserByAutoIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectEnduserByAutoIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectEnduserByName" />
  </wsdl:message>
  <wsdl:message name="SelectEnduserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectEnduserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEnduserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEnduser" />
  </wsdl:message>
  <wsdl:message name="DeleteEnduserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEnduserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEnduserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEnduser" />
  </wsdl:message>
  <wsdl:message name="UpdateEnduserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEnduserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEndusersSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEndusers" />
  </wsdl:message>
  <wsdl:message name="UpdateEndusersSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEndusersResponse" />
  </wsdl:message>
  <wsdl:portType name="MongoDBServiceSoap">
    <wsdl:operation name="InsertEnduser">
      <wsdl:input message="tns:InsertEnduserSoapIn" />
      <wsdl:output message="tns:InsertEnduserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEndusers">
      <wsdl:input message="tns:InsertEndusersSoapIn" />
      <wsdl:output message="tns:InsertEndusersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input message="tns:SelectAllSoapIn" />
      <wsdl:output message="tns:SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountAll">
      <wsdl:input message="tns:CountAllSoapIn" />
      <wsdl:output message="tns:CountAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserBySimCardNo">
      <wsdl:input message="tns:SelectEnduserBySimCardNoSoapIn" />
      <wsdl:output message="tns:SelectEnduserBySimCardNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByAutoID">
      <wsdl:input message="tns:SelectEnduserByAutoIDSoapIn" />
      <wsdl:output message="tns:SelectEnduserByAutoIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByName">
      <wsdl:input message="tns:SelectEnduserByNameSoapIn" />
      <wsdl:output message="tns:SelectEnduserByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEnduser">
      <wsdl:input message="tns:DeleteEnduserSoapIn" />
      <wsdl:output message="tns:DeleteEnduserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEnduser">
      <wsdl:input message="tns:UpdateEnduserSoapIn" />
      <wsdl:output message="tns:UpdateEnduserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEndusers">
      <wsdl:input message="tns:UpdateEndusersSoapIn" />
      <wsdl:output message="tns:UpdateEndusersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MongoDBServiceSoap" type="tns:MongoDBServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEnduser">
      <soap:operation soapAction="http://tempuri.org/InsertEnduser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEndusers">
      <soap:operation soapAction="http://tempuri.org/InsertEndusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountAll">
      <soap:operation soapAction="http://tempuri.org/CountAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserBySimCardNo">
      <soap:operation soapAction="http://tempuri.org/SelectEnduserBySimCardNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByAutoID">
      <soap:operation soapAction="http://tempuri.org/SelectEnduserByAutoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByName">
      <soap:operation soapAction="http://tempuri.org/SelectEnduserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEnduser">
      <soap:operation soapAction="http://tempuri.org/DeleteEnduser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEnduser">
      <soap:operation soapAction="http://tempuri.org/UpdateEnduser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEndusers">
      <soap:operation soapAction="http://tempuri.org/UpdateEndusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MongoDBServiceSoap12" type="tns:MongoDBServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEnduser">
      <soap12:operation soapAction="http://tempuri.org/InsertEnduser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEndusers">
      <soap12:operation soapAction="http://tempuri.org/InsertEndusers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap12:operation soapAction="http://tempuri.org/SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountAll">
      <soap12:operation soapAction="http://tempuri.org/CountAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserBySimCardNo">
      <soap12:operation soapAction="http://tempuri.org/SelectEnduserBySimCardNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByAutoID">
      <soap12:operation soapAction="http://tempuri.org/SelectEnduserByAutoID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEnduserByName">
      <soap12:operation soapAction="http://tempuri.org/SelectEnduserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEnduser">
      <soap12:operation soapAction="http://tempuri.org/DeleteEnduser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEnduser">
      <soap12:operation soapAction="http://tempuri.org/UpdateEnduser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEndusers">
      <soap12:operation soapAction="http://tempuri.org/UpdateEndusers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MongoDBService">
    <wsdl:port name="MongoDBServiceSoap" binding="tns:MongoDBServiceSoap">
      <soap:address location="http://localhost:29941/MongoDBService.asmx" />
    </wsdl:port>
    <wsdl:port name="MongoDBServiceSoap12" binding="tns:MongoDBServiceSoap12">
      <soap12:address location="http://localhost:29941/MongoDBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>